<div class="footer">
    <div class="footer-copy">
        <p>@2023 Made by <a href="https://www.linkedin.com/in/raghavgarg2002">Raghav Garg</a></p>
    </div>
    <div class="footer-">
        <h4>Let's Connect</h4>
        <img width="30px" height="30px" style="border-radius: 5px; margin-right: 10px;" src="./assets/github.png" (click)="onGithub()" >
        <img width="30px" height="30px" style="border-radius: 5px;" src="./assets/link.png" (click)="onGoto()">
    </div>
    <div style="margin-top: 5px;">
        <button mat-raised-button>Angular</button>
        <button mat-raised-button>Angular Material</button>
        <button mat-raised-button>SCSS</button>
    </div>
</div>